/*
 * Vars
 */
$bordure = #eee
$white = #fff
$black = #000


/*
 * IDs
 */
#recipe
	background: $white
	border: 1px solid $bordure
	box-shadow: 0 0 60px rgba($black, .2)
	max-width: 600px
	margin: 5em auto
