
/*
 * ID
 */
$gray = #333
$gray2 = #777


/*
 * Classes
 */
.ingredient
	margin: 1em 0
	text-align: center

	&-quantity
		color: $gray
		font-weight: 700
		display: inline-block
		margin-right: .2em

	&-desc
		color: $gray2
		position: relative
		display: inline-block


/*
 * IDs
 */
#ingredients
	margin: 6em
